*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.scrollable-container{
    overflow-y: auto;
    background-color: white;
    height: 37vh;
    width: 100%;
}

.content-table{
    border-collapse: collapse;
    font-family: 'Nunito Sans', 'Sans-serif';
    margin: 0px 2%;
    font-size: 1.6rem;
    min-width: 90%;
    text-align: left;
    max-height: 90%;
}

.content-table thead tr{
    background-color: white;
    font-weight: bold;
    border-bottom: 2px solid #26ABAA;
    position: sticky;
    top: 0px;
}

.content-table th, .content-table td{
    padding: 12px 38px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}